<template>
  <div id="app">
    <app-header/>
    <router-view></router-view>
  </div>
</template>

<script>

import { mapGetters, mapActions } from "vuex";
import Header from './components/Header'

export default {
  name: 'app',
  data(){
    return{
      appName: process.env.VUE_APP_NAME
    }
  },
  methods:{
    ...mapActions('app',['doAuth'])
  },
  mounted(){
   this.doAuth()
  },
  components: {
    'app-header' : Header
  }
}
</script>
